<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <title>eat.io</title>
    <link rel="icon" href="images/app-logo.png"/>
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>

    <!-- navbar -->

    <header class="header">
      <div class="appbar">
        <div class="header_logo">
          <img src="images/app-logo.png" alt="" />
        </div>
        <button id="menu_toggle" class="menu_toggle" tabindex="0">☰</button>
      </div>

      <nav id="drawer" class="header-nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/fav">Favorites</a></li>
          <li class="nav-item about-us">
            <a href="https://www.instagram.com/a.rmt___/" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
    </header> 
    <!-- Jumbotron -->

    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title">eat.io</h1>
        <p class="hero-tagline">Find the best restaurant in your area</p>
      </div>
    </div>

    <!-- konten -->

    <main id="mainContent"></main>

    <!-- <main>
      <section class="content" id="content">
        <div class="resto">
          <h1>
            <span class="content-title">Explore Restaurant</span>
          </h1>
          <div class="list-resto" id="list"></div>
        </div>
      </section>
    </main> -->

    <!-- footer -->

    <footer>
      <p>Copyright &copy; 2023 - eat.io</p>
    </footer> 
  </body>
</html>
